.map {max-width: 100%;
    width: 25rem;
    height: 12.5rem;
    background: url(/svg/marker.svg) center calc(50% - 1rem) / auto 2rem no-repeat, url(/img/mapa-clinica-parque.webp) center center / cover no-repeat;
    position: relative;
    display: block;
}

.etiqueta-venda {
    position: absolute;
    top: 10px;
    right: -40px;
    padding: 5px 10px;
    background-color: #ff0000;
    color: #ffffff;
    transform: rotate(-45deg);
}

.etiqueta-venda {
    background-color: #ff0000;
    color: #ffffff;
}

