p {
    font-family: 'Source Sans Pro', sans-serif;
}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700; /* Peso bold */
}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500; /* Peso bold */
}
em {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic; /* Estilo itálico */
}
pre {
    font-family: 'Courier Prime', monospace;
}


/* Cabeçalho actualizado*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.desktop-phone {
    display: inline; /* Mostra o texto no desktop */
}

.mobile-phone {
    display: none; /* Esconde o link no desktop */
}

@media(max-width: 767px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .desktop-phone {
        display: none; /* Esconde o texto no mobile */
    }

    .mobile-phone {
        display: inline; /* Mostra o link no mobile */
        text-decoration: none;
        color: inherit;
        margin-left: 10px;
    }

    .phone {
        margin-top: 10px;
    }
}
/* fim de cabeçalho */

/* Estilo para tornar o iframe responsivo */
.map-container {
    position: relative;
    overflow: hidden;
    width: 50%;
    padding-top: 56.25%;
    /* Proporção de 16:9, ajuste conforme necessário */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* Relação de aspecto 16:9 */
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    /* Fundo preto semi-transparente */
}

.video-overlay h1,
.video-overlay h2,
.video-overlay p {
    color: white;
    margin: 0.5em;
}

.video-overlay button {
    padding: 10px 20px;
    border: none;
    background-color: #0099cc;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.quoted {
    margin: 25px 10px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: inset 0 0 40px #07605e31;
}


/* Estilos CSS */

.testimonial {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

blockquote {
    flex: 1;
    border-left: 4px solid #008080;
    padding-left: 15px;
}

.testimonial-image-link {
    width: 200px;
    /* Largura fixa para desktop */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.testimonial img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Para dispositivos pequenos, a imagem atua mais como um ícone à direita */
@media(max-width: 767px) {
    .testimonial-image-link {
        width: 60px;
        /* Reduzido para a largura de um ícone */
    }

    blockquote {
        flex: 0 0 calc(100% - 80px);
        /* Ocupa o espaço restante, menos o espaço para o ícone e algum espaço adicional */
    }
}

.highlight {
    background-color: yellow;
    /* This is just a suggestion for the color; adjust as necessary */
}
/* Layout Rules */
.wrap {
	margin: auto;
	padding: 0 .5em;
}

@media screen and (min-width:37.5em) {
	.wrap {
		max-width: 36.5em;
		padding: 0 .5em;
	}
}